Robot Project/.vs/
Robot Project/build/
Robot Project/.gradle/
Robot Project/build/
DataMonitor/.vs/DataMonitor/v15/Server/sqlite3/db.lock
DataMonitor/DataMonitor/bin/
DataMonitor/DataMonitor/obj/
DataMonitor/.vs/DataMonitor/v15/Server/sqlite3/
.vs/
